body {
    background: url('./../00-imagenes/hojas.jpg');
    background-attachment: fixed;
    background-size: 100% 120%;
}

#logo {
    background: #0d8f07;
}

#menu ul li:hover {
    background: #0d8f07;
}

.buttMore {
    background: #0d8f07;
}